<h1>Edite um Artigo</h1>

<% if @artigo.errors.any? %>
    <h2>Os seguintes erros interromperam a inserção do arquivo:</h2>
    <ul>
    <% @artigo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <%end%>
    </ul>
<%end%>

<%= form_with(model: @artigo, local: true) do |f| %>

    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %> <br>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %> <br>
    </p>

<%end%>